/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('https://img.freepik.com/free-photo/sliced-veggies-white-background_23-2148290818.jpg?w=900&t=st=1727426806~exp=1727427406~hmac=03bf162b7fb3c8f431bdbfca9b6c890a8680a780c96e1ca3b085887d0935c3c2');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
  background-size: cover;
}

